<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">№</th>
            <th scope="col">Rating</th>
            <th scope="col">Flour</th>
            <th scope="col">Amound of people</th>
            <th scope="col">Amound of bed</th>
            <th scope="col">Price/24h</th>
            <th scope="col">Discount</th>
            <th scope="col">Actions</th>



        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>101</td>
            <td>3</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>1400</td>
            <td>7%</td>
            <td><button type="button" class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>102</td>
            <td>5</td>
            <td>2</td>
            <td>3</td>
            <td>3</td>
            <td>1500</td>
            <td>3%</td>
            <td><button type="button" class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
    </tbody>
</table>